form {
    border: 1px solid #3D3F45;
    border-radius: 3px;
    box-shadow: 5px 10px;
    padding: 40px;
}
input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#results {
    border: 1px solid #3D3F45;
    border-radius: 3px;
    box-shadow: 5px 10px;
    padding: 20px;
}

#results > div {
    background-color: aqua;
    border: 1px solid #3D3F45;
    border-radius: 3px;
    padding: 15px;
}

#results #title {
    font-weight: bold;
    margin-bottom: 20px;
}
